@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 92vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3{
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: rgb(255, 255, 255);
}

.carousel img {
  height: 350px;
  padding: 20px;
  margin: 40px;
  border-radius: 0%;
}
.carousel a {
  margin: 0 auto;
}

.social-container {
  background-color: #212529;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 180px;
  border-style: solid;
  border-width: 1px;
  border-color: #212529;
  font-weight: bold;
  /* box-shadow: inset 0 0 50px black; */
}

.header_logo{
  padding-right: 15px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-4px);
}

a.github {
  color: #000000;
}

.github_header{
  color: white;
}

.linkedin_header{
  color: rgb(58, 58, 240);
}

a.linkedin {
  color: #0073b1;
}

a.google{
  color:#f32700;
}

.credit{
  margin-top: 20px;
  font-size: 20px;
}

.since{
  font-size: 10px;
}

.social_title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.footer{
  margin-bottom: 0px;
}

.header-social-container{
  padding-right: 30px;
  padding-top: 4px;
}








